{% extends 'base.html.twig' %}
{% block body %}
<h5>Five newest news</h5>
    <div class=" row">
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Abstract</th>
                <th>Date</th>
                <th>FullText</th>
                <th>Activity</th>
                <th>Action</th>
            </tr>
            {% for article in news %}
            <tr>
                <td> <a href="{{ path("news_show", {id:article.id} )}}" }}">{{ article.title }}</a></td>
                <td>{{ article.abstract }}</td>
                <td>{{ article.date |date("m/d/Y")}}</td>
                <td>{{ article.text }}</td>
                <td>{{ article.activity |number_format }}</td>
                <td><a href="{{ path("news_edit", {id:article.id}) }}">edit </a><a> </a><a href="{{ path("news_delete", {id:article.id}) }}">delete</a></td>
            </tr>
            {% endfor%}
        </table>
    </div>
    <div class="row" >
            {% if page == '1' %}
                <div class="container-fluid">
                    <a>{{ page }}</a> <a href="{{ path("news_index",{page:(page+1)}) }}"> next </a>
                </div>
            {% else %}
                <div class="container-fluid">
                    <a  href="{{ path("news_index",{page:(page-1)}) }}">prev</a> <a> {{ page }} </a>
                    {% if count == '5' %}
                    <a href="{{ path("news_index",{page:(page+1)}) }}">next</a>
                    {% endif %}
                </div>
            {% endif %}
    </div>
{% endblock %}